input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  background: var(--primary-color);
}

#logo-sidebar::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

#logo-sidebar {
  overflow-y: scroll;
}

#beautyCardArea::-webkit-scrollbar {
    display: none !important;
  }

#beautyCardArea{
    overflow-y: scroll !important;
}
#cardArea::-webkit-scrollbar {
    display: none !important;
  }

#cardArea{
    overflow-y: scroll !important;
}

.h-full {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: contain;
}

.swiper {
  width: 100%;
  height: 100%;
}
