.image-container {
    width: 100%;
    position: absolute;
    /* /* transform: translate(-50%,-50%); */
    top: 50px;
    /* left: 50%; */
    overflow: hidden;
    /* border: 1px solid red; */
    /* border: 10px; */
}

.slides {
    width: 100%;
    display: flex;
    animation: slide 15s infinite;
}

.slide {
    width: 100%;
    /* transition: transform 0.5s;
    transition: left .2s ease-out, width .2s ease-out; */

}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

.brandtext {
    width: 100%;
    margin-top: 500px;
    /* border: 2px solid red; */
}

.textfav {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 50px 70px;
    max-height: 5em;
    font-weight: 700;
    
}
.brandLogo{
    
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.image-logo{
    width: 11%;
    height: auto ;
    align-items: center;
    /* object-fit: cover; */
}
.toppick{
    width: 100%;
    
}